/* https://colorhunt.co/palette/0719520b666a35a29f97feed */

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2 {
  padding-left: 4px;
  background-color: #0B666A;
  color: white;
}

h1 {
  text-transform: uppercase;
}

h2 {
  background-color: #35A29F;
}

footer {
  background-color: #35A29F;
  color: white;
  padding-left: 4px;
  text-align: center;
}

.footerDiv,
footer div {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 4px;
  text-align: center;
}

.footerDiv a,
footer div a {
  color: white;
}

.footerCopyright,
footer p.copyright {
  text-align: center;
  font-size: small;
  padding-bottom: 4px;
}