html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2 {
  padding-left: 4px;
  background-color: #0B666A;
  color: white;
}

h2 {
  background-color: #35A29F;
}

footer {
  padding-left: 4px;
  background-color: #7a9d9f;
  color: white;
}

p.copyright {
  font-size: small;
  text-align: center;
}