
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexItem {
  vertical-align: top;
  width: 400px;
  border: 4px solid #0B666A;
  margin-right: 4px;
  margin-bottom: 8px;
  display: inline-block;
}

.mediaTitle > a {
  color: white;
}

.mediaImage {
  border: 3px solid black;
  height: 200px;
  float: left;
  margin: 8px;
}

.mediaImage:hover {
  transform: scale(150%);
}

.mediaText {
  margin: 8px;
  text-align: justify;
}


h2 {
  padding: 10px;
}