/*
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without the express prior written permission.
*/


body {
  text-align: center;
  background-color: #011F3F;
}

#level-title,
#msgTop,
#msgBottom {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

#msgTop,
#msgBottom {
  font-size: 0.9rem;
}

.box {
  border: 2px solid orange;
  padding: 8px;
  /* max-width: auto; */
  min-height: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: centre;
  align-items: center;
  height: 400px;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}


.fail {
  background-color: firebrick;
}